<% include include/header.ejs %>
	<div class="container join">
		<h2>회원가입</h2>
		<form action="/joinForm" method="post">
		    <fieldset>
		        <legend class="blind">회원가입 폼</legend>
		        <ul class="border_layout">
					<li>
						<label for="userId">아이디</label>
						<input type="text" id="userId" name="userId" autocomplete="off" />
						<span></span>
					</li>
					<li>
						<label for="userPw">비밀번호</label>
						<input type="password" id="userPw" name="userPw" />
						<span></span>
					</li>
					<li>
						<label for="userPwC">비밀번호 확인</label>
						<input type="password" id="userPwC" name="userPwC" />
						<span></span>
					</li>
					<li>
						<label for="userNick">닉네임</label>
						<input type="text" id="userNick" name="userNick" autocomplete="off" />
						<span></span>
					</li>
		        </ul>
		    </fieldset>
		</form>
		<a href="#n" class="btn">가입하기</a>
	</div>
	<script>
		$(function() {
			function validation() {
				if($("#userId").val() === "") {
					$("#userId").next().text("아이디를 입력하세요.");
					$("#userId").focus();
					return;
				} else {
					$("#userId").next().text("");
				}
				if($("#userPw").val() === "") {
					$("#userPw").next().text("비밀번호를 입력하세요.");
					$("#userPw").focus();
					return;
				} else {
					$("#userPw").next().text("");
				}
				if($("#userPwC").val() === "") {
					$("#userPwC").next().text("비밀번호를 다시 입력하세요.");
					$("#userPwC").focus();
					return;
				} else {
					$("#userPwC").next().text("");
				}
				if($("#userPwC").val() !== $("#userPw").val()) {
					$("#userPwC").next().text("비밀번호를 정확히 입력하세요.");
					$("#userPwC").focus();
					return;
				} else {
					$("#userPwC").next().text("");
				}
				if($("#userNick").val() === "") {
					$("#userNick").next().text("닉네임을 입력하세요.");
					$("#userNick").focus();
					return;
				} else {
					$("#userNick").next().text("");
				}
				$(".join form").submit();
			}
			$("input").keydown(function(key) {
				if(key.keyCode == 13) validation();
			});
			$(".btn").click(function(e) {
				e.preventDefault();
				validation();
			});
		});
	</script>
<% include include/footer.ejs %>
