</div>
<section class="container" style="display:none">
	<a href="#" class="btn_top"><span class="blind">위로가기</span></a>
</section>
<!--footer>
	<div class="footer_bar">
		<div class="container">
			<ul>
				<li><a href="/company/location">도움말</a></li>
				<li><a href="/partnership">제휴문의</a></li>
				<li><a href="/privacy/privacy">개인정보처리방침</a></li>
			</ul>

		</div>
	</div>
	<div class="footer_content">
		<div class="container">
			<address>
				footer text<br />
				사업자등록번호 000-00-00000
				통신판매업신고번호 : 제2017-서울송파-0000호
				TEL.<a href="tel:010-0000-0000">010-0000-0000</a><br />
				Copyright (C) 2017 <a href="/">test</a> Corp. All Rights Reserved.
				<p>
					<a href="https://www.facebook.com/" target="_blank" class="sns_facebook"><span class="blind">페이스북</span></a>
					<a href="http://blog.naver.com/" target="_blank" class="sns_blog"><span class="blind">블로그</span></a>
				</p>
			</address>
		</div>
	</div>
</footer-->
<script src="/js/script.js"></script>
</body>
</html>
